$body-color: white;
$border-color: #4A6842;
$main-color: #A9B3D6;
$color-black: #333;
$header-gradient: linear-gradient(180deg, rgba(169,179,214,1) 1%, rgba(194,207,252,1) 80%, rgba(255,255,255,1) 100%);
$footer-gradient :linear-gradient(180deg, rgba(194,207,252,1) 0%, rgba(169,179,214,1) 100%);
$button-gradient: linear-gradient(to right,rgba(169,179,214,1), rgba(194,207,252,1));
