@import "colors";
@import "typography";
@import "reset";

.top-section {
    header {
        height: 15vh;
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            border:none;
            background: transparent;
        }
        button:first-child {
            margin-left: 1rem;
        }
        div button {
            margin-right: 2rem;
        }
    }
    .search-section {
        height: 10vh;
        background: $header-gradient;
        padding: 1rem 7rem;
        .search-bar {
            //width: 80%;
            border: 2px solid $border-color;
            display:flex;
            border-radius: 10px;
            background-color: $body-color;
            input[type=text] {
                flex-grow: 1;
                border:0;
                border-radius: 10px;
                padding: 0 1rem;    
            }
            button {
                border: none;
                border-radius: 10px;
                background: $body-color;
                cursor: pointer;
            }
        }
        
    }
}