@import "colors";
@import "typography";
@import "reset";

.top-section {
    header {
        height: 15vh;
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            border:none;
            background: transparent;
        }
        button:first-child {
            margin-left: 1rem;
        }
        div button {
            margin-right: 2rem;
        }
    }
    .search-section {
        //height: 25vh;
        background: $header-gradient;
        padding: 1rem 7rem;
        .search-bar {
            //width: 80%;
            border: 2px solid $border-color;
            display:flex;
            border-radius: 10px;
            background-color: $body-color;
            input[type=text] {
                flex-grow: 1;
                border:0;
                border-radius: 10px;
                padding: 0 1rem;    
            }
            button {
                border: none;
                border-radius: 10px;
                background: $body-color;
                cursor: pointer;
            }
        }
        .brand-description {
            margin-left: 3rem;
            p {
                color: $border-color;
            }
            
        }
        
    }
}
main {
    .new-products, .top-picks, .recently-seen {
        text-align: center;
        margin-bottom: 3rem;
        div {
            display:flex;
            justify-content: space-evenly;
            //align-items: center;
            article {
                //border: 1px solid grey;
                box-shadow: 0.5rem 0.5rem  .4rem $main-color, -0.5rem -0.2rem .4rem $main-color;
                //margin: 20px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                a {
                    //padding: 8px;
                    text-decoration: none;
                    color: $border-color;
                    img {
                        width:150px;
                        height:200px;
                    }
                }
                .bottom-section {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    button {
                        cursor: pointer;
                        background-color: $body-color;
                        width: 100%;
                        p {
                            margin:0;
                            display: inline-block;
                        }
                        img {
                            width: 20px;
                            height: 15px;
                        }
                    }
                }
            }
            
        }

    }
}
footer {
    background-image: url("/project-page/pictures/footer-flower.jpg");
    background-position: bottom right;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

    nav {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                a {
                    //text-decoration: none;
                    color: $border-color;
                
                }
            }

        }
        
    }
    div {
        a {
            margin-right: 0.5rem;
            text-decoration: none;
            
        }
    }
    
}