@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
html {
  font-size: 15px;
}

html body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  font-weight: 500;
  color: #4A6842;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.top-section header {
  height: 15vh;
  background-color: #A9B3D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section header nav {
  display: none;
  position: absolute;
  left: 10%;
  top: 5%;
  background-color: #A9B3D6;
  width: 50%;
  height: 30%;
}

.top-section header nav ul {
  line-height: 2;
}

.top-section header nav ul li {
  list-style-type: none;
  color: #4A6842;
}

.top-section header button {
  border: none;
  background: transparent;
}

.top-section header:hover nav {
  display: block;
}

.top-section header button:first-child {
  margin-left: 1rem;
}

.top-section header div button {
  margin-right: 2rem;
}

.top-section .search-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #a9b3d6), color-stop(80%, #c2cffc), to(white));
  background: linear-gradient(180deg, #a9b3d6 1%, #c2cffc 80%, white 100%);
  padding: 1rem 7rem;
}

.top-section .search-section .search-bar {
  border: 2px solid #4A6842;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: white;
}

.top-section .search-section .search-bar input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  border-radius: 10px;
  padding: 0 1rem;
}

.top-section .search-section .search-bar button {
  border: none;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

.top-section .search-section .brand-description {
  margin-left: 3rem;
}

.top-section .search-section .brand-description p {
  color: #4A6842;
}

main .new-products, main .top-picks, main .recently-seen {
  text-align: center;
  margin-bottom: 4rem;
}

main .new-products div, main .top-picks div, main .recently-seen div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .new-products div article, main .top-picks div article, main .recently-seen div article {
  -webkit-box-shadow: 0.5rem 0.5rem 0.4rem #A9B3D6, -0.5rem -0.2rem 0.4rem #A9B3D6;
          box-shadow: 0.5rem 0.5rem 0.4rem #A9B3D6, -0.5rem -0.2rem 0.4rem #A9B3D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .new-products div article a, main .top-picks div article a, main .recently-seen div article a {
  text-decoration: none;
  color: #4A6842;
}

main .new-products div article a img, main .top-picks div article a img, main .recently-seen div article a img {
  width: 150px;
  height: 200px;
}

main .new-products div article .bottom-section, main .top-picks div article .bottom-section, main .recently-seen div article .bottom-section {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A6842;
  margin-bottom: 1rem;
}

main .new-products div article .bottom-section form button, main .top-picks div article .bottom-section form button, main .recently-seen div article .bottom-section form button {
  cursor: pointer;
  background-color: #4A6842;
  width: 100%;
  border-radius: 4px;
}

main .new-products div article .bottom-section form button span, main .top-picks div article .bottom-section form button span, main .recently-seen div article .bottom-section form button span {
  margin: 0;
  color: white;
}

main .new-products div article .bottom-section form button img, main .top-picks div article .bottom-section form button img, main .recently-seen div article .bottom-section form button img {
  width: 20px;
  height: 15px;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#c2cffc), to(#a9b3d6));
  background: linear-gradient(180deg, #c2cffc 0%, #a9b3d6 100%);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav ul li {
  list-style-type: none;
}

footer nav ul li a {
  color: #4A6842;
}

footer div a {
  margin-right: 0.5rem;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */